.u-section-1 {
  background-image: url("images/monorail.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-group-1 {
  width: 480px;
  min-height: 499px;
  background-image: none;
  height: auto;
  margin: 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 60px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.01rem;
  margin: 50px 53px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  margin: 60px auto 0 43px;
  padding: 17px 41px 17px 39px;
  border-radius: 5px;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 10 15;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.u-section-1 .u-btn-2 {
  margin: -60px 18px 0 auto;
  padding: 16px 23px 18px 22px;
  border-radius: 5px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}
.form-container form input[type=number] {
  font-size: 17px;
  margin: 8px 0;
  background: #eee;
  border-radius: 5px;
  text-align: center;
}

.form-container form input[type=radio] {
  /* Style the radio button itself */
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid rgb(255, 106, 106);
  background-color: #fff;
}

.form-container form input[type=radio]:focus {
  /* Style the radio button when it is focused */
  outline: none;
  box-shadow: 0 0 0 3px rgb(63, 60, 60);
}

.form-container form input[type=radio]:checked {
  /* Style the radio button when it is checked */
  background-color: #292929;
}

.form-container form input[type=number]:hover {
  background: rgb(255, 0, 51);
  color: #fff;
}

.form-container form input[type='text'],
.form-container form input[type=email],
.form-container form input[type=password],
.form-container form input[type=submit],
.form-container form input[type=reset],
.form-container form select {
   width: 100%;
   padding: 10px 15px;
   font-size: 17px;
   margin: 8px 0;
   background: #eee;
   border-radius: 5px;
   text-align: center;
}

.form-container form select:hover,
.form-container form input[type=number]:hover {
   background: rgb(51, 51, 51);
   color: #fff;
}
.form-container form h1 {
  font-size: 50px;
  color: #333;
}

.form-container form h1 span {
  background: rgb(224, 50, 50);
  color: #fff;
  border-radius: 20px;
  padding-top: 10px;
  padding: 0 20px;
}