.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/monorail.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  width: 740px;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 60px auto 0;
}

.u-section-1 .u-table-1 {
  width: 1033px;
  margin: 58px auto 60px;
}

.u-section-1 .u-table-entity-1 {
  min-height: 200px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.85rem;
  text-transform: none;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  padding-top: 50px;
  padding-bottom: 20px;
}



.u-section-1 .u-table-cell-3 {
  background-image: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.125rem;
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-6 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-7 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-8 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-9 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-10 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-11 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-12 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-13 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-14 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-15 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-16 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-17 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.u-section-1 .u-table-cell-18 {
  padding-top: 20px;
  padding-bottom: 20px;
}

